<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Festival Gallery</title>

 <style>
        body {
            padding: 0;
            margin: 0;
        }

        .container {
            max-width: 1224px;
            width: 90%;
            margin: auto;
            padding: 40px 0;
        }

        .title {
            margin-bottom: 2rem;
        }

        .photo-gallery {
            display: flex;
            gap: 40px;
        }

        .colunm {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .photo img {
            width: 130%; 
            height: 130%; 
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }

        @media(max-width: 768px) {
            .photo-gallery {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h1 style="text-align: center; color: black;">Welcome to Festival Gallery</h1>

    <div class="container">
        <h2 class="title">Photo Gallery</h2>

        <div class="photo-gallery">

            <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/1.jpg' %}" target="_blank">
                        <img src="{% static 'festival/1.jpg' %}" alt="">
                    </a>
                    
                </div>
                <div class="photo">
                    <a href="{% static 'festival/2.jpg' %}" target="_blank">
                        <img src="{% static 'festival/2.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/3.jpg' %}" target="_blank">
                        <img src="{% static 'festival/3.jpg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/4.jpg' %}" target="_blank">
                        <img src="{% static 'festival/4.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/5.jpg' %}" target="_blank">
                        <img src="{% static 'festival/5.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/6.jpg' %}" target="_blank">
                        <img src="{% static 'festival/6.jpg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/7.jpg' %}" target="_blank">
                        <img src="{% static 'festival/7.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/8.jpg' %}" target="_blank">
                        <img src="{% static 'festival/8.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/9.jpg' %}" target="_blank">
                        <img src="{% static 'festival/9.jpg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/10.jpg' %}" target="_blank">
                        <img src="{% static 'festival/10.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/11.jpg' %}" target="_blank">
                        <img src="{% static 'festival/11.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/12.jpg' %}" target="_blank">
                        <img src="{% static 'festival/12.jpg' %}" alt="">
                    </a>
                </div>
            </div>

            <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/13.jpg' %}" target="_blank">
                        <img src="{% static 'festival/13.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/14.jpg' %}" target="_blank">
                        <img src="{% static 'festival/14.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/15.jpg' %}" target="_blank">
                        <img src="{% static 'festival/15.jpg' %}" alt="">
                    </a>
                </div>
            </div>

             <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/16.jpg' %}" target="_blank">
                        <img src="{% static 'festival/16.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/17.jpg' %}" target="_blank">
                        <img src="{% static 'festival/17.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/18.jpg' %}" target="_blank">
                        <img src="{% static 'festival/18.jpg' %}" alt="">
                    </a>
                </div>
            </div>
             <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/19.jpg' %}" target="_blank">
                        <img src="{% static 'festival/19.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/20.jpg' %}" target="_blank">
                        <img src="{% static 'festival/20.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/21.jpg' %}" target="_blank">
                        <img src="{% static 'festival/21.jpg' %}" alt="">
                    </a>
                </div>
            </div>

             <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/22.jpg' %}" target="_blank">
                        <img src="{% static 'festival/22.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/23.jpg' %}" target="_blank">
                        <img src="{% static 'festival/23.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/24.jpg' %}" target="_blank">
                        <img src="{% static 'festival/24.jpg' %}" alt="">
                    </a>
                </div>
            </div>

             <div class="colunm">
                <div class="photo">
                    <a href="{% static 'festival/25.jpg' %}" target="_blank">
                        <img src="{% static 'festival/25.jpg' %}" alt="">
                    </a>
                </div>
                <div class="photo">
                    <a href="{% static 'festival/26.jpg' %}" target="_blank">
                        <img src="{% static 'festival/26.jpg' %}" alt="">
                    </a>
                </div>
                
            </div>

        </div>

    </div>

</body>
</html>
