<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <title>Welcome to Faculty of Engineering & Technology</title>
    <style>
        body {
            margin: ;
        }
        .section{
            background-color: lightblue;
            display: flex;
            justify-content: center;
            padding: 40px;
            width: 60%;
            margin: 10rem auto 0 auto;
        }
        .section img{
            height: 250px;
        }
       
        
        .section p{
            color:rgb(11, 10, 10);
            margin-right: 15px;
        }
        
    </style>
</head>
<body >
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <h1 style="text-align: center; color: black;">Welcome to Faculty of Medicine & Healthcare</h1>
   
<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Pharmacy & Research [KSP]</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna School of Pharmacy & Research [KSP]
</h2>
        <p style="font-size: 30px">
            Dr. Falgun A. Mehta
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna School of Pharmacy & Research
             [KSP]

            
        </div>
        <img src="{% static 'img/ksp.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    The Pharmacist is a vital link in the entire healthcare chain. Pharmaceutical Science is a field of study and research which is very dynamic and leads to several avenues of work. The job and business opportunities for Pharma graduates are growing by leaps and bounds due to the remarkable growth and advancement in science and technology. COVID-19 has served to enforce the role of Pharma graduates and their research in management of this pandemic. Pharma graduates are in demand in India and in foreign countries.
</p>

<p style="font-size:25px; line-height:20px">
    KSP embarked on its journey in the field of pharmacy education in 2005 as Babaria Institute of Pharmacy which was affiliated to Gujarat University and then to Gujarat Technological University. We are now a constituent school of Drs. Kiran & Pallavi Patel Global University, Vadodara under its Faculty of Medicine and Healthcare (FM&H). We are approved u/s 12 by the Pharmacy Council of India. KSP offers Bachelor of Pharmacy course that is re-accredited by National Board of Accreditation (NBA) June 2025. Additionally, KSP offers Masters in Pharmacy in Pharmaceutical Quality Assurance, Pharmaceutics, Pharmaceutical Technology and Pharmacology. A Doctor of Philosophy (Ph. D) program is also offered in Pharmaceutical Sciences by the university.
</p>
<p style="font-size:25px; line-height:20px">
    The college has well-equipped laboratories and excellent infrastructure to assist the students gain knowledge and learn the skills that would help them to face the global competition. Our classrooms are well equipped with Multimedia projector systems and a CPU with internet connectivity so that our faculty members can make use of the latest audio-visual mode of teaching. The modern state-of-art laboratories, instrumentation facilities, and central library facility in this organization are part of our school. Our medicinal garden has numerous genera of medicinal plants.
</p>
<p style="font-size:25px; line-height:20px">
    In addition to academic activity, our school and university has a culture to celebrate the festivals of India with zeal and fervor. Guest lectures, seminars, refresher courses, FDP’s, industrial trips are all part of the routine semester working. The NSS cell of KSP, KPGU are dedicated to the service of the nation and conduct numerous events throughout the year. The school has an active SSIP cell and offers grant to students for research, ideation and up to patent application and start up stages.
</p>
<p style="font-size:25px; line-height:20px">
    Faculty members of the School are all either Masters or Ph.D holders in their respective subjects. The staff members are dedicated to their duty as teachers and strive to ensure that they equip the students with the requisite knowledge, skill and inspiration so that the students excel in their jobs or businesses.
</p>
<p style="font-size:25px; line-height:20px">
    This school has carved a reputation for itself by the co-ordinated efforts and commitment of the Management and the staff. The passed out students stand testimony to the quality of teaching and learning process of the school. As a Director of the School I, along with my staff members, one and all to visit our campus and Krishna School of Pharmacy & Research (KSP) and experience the energy and vibrancy first hand.
</p>
<p style="font-size:25px; line-height:20px">
    As we look ahead to an exciting academic year, filled with scientific achievements, let us continue pushing the boundaries of knowledge, empowering the next generation of scientific leaders, and contributing to the greater mission of KPGU in service to society and global excellence.
</p>



<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">B.Pharm.</p>
<p style="font-size:25px; line-height:20px; color:#800000">M.Pharm</p>


<h4 style="font-size:35px;color: darkblue">Welcome To Krishna Ayurved Medical College [KAMC]</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna Ayurved Medical College [KAMC]
</h2>
        <p style="font-size: 30px">
            Dr. Malhari K. Sirdeshpande
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna Ayurved Medical College
             [KAMC]

            
        </div>
        <img src="{% static 'img/kamc.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    Krishna Ayurved Medical College established in the year of 2019, is a world class educational institute developed for top quality teaching and training in the field of Ayurved with the vision of the founder President Hon. Jagdishbhai Patel.
</p>

<p style="font-size:25px; line-height:20px">
    This institute is one of the renouned colleges, managed by Shree Krishna educational and charitable trust, Vadodara.Krishna Ayurved Medical College & Davalba Ayurved Medical Hospital are well equipped with all teaching and training facilities for students. Academic excellence is our Moto and to achieve this, highly qualified teaching staff is working hard to carve out the future of the students.
</p>
<p style="font-size:25px; line-height:20px">
    Apart from the academic activities, sports facilities, developed campus, world class infra structure in a nature friendly environment provide all opportunities of complete personality developments of students. Library having more than 8000 books, medicinal plant garden, Teaching Pharmacy, Teaching aids such as projectors, E- Library are some of the tools for high quality teaching and learning process.
</p>
<p style="font-size:25px; line-height:20px">
    The clinical exposure is equally important for medical students. Davalba Ayurved Medical Hospital is an ideal example of social service with academic facility for students. We render completely free of cost treatment for patients helping particularly the less privileged section from rural area of Varnama and other villages in vicinity. Students can easily get the practical clinical experiences from the well developed OPDS having up to 300 patients per day & 60 beded IPD of Matoshri Davalba Ayurved Medical Hospital. Full flagged Panchakarma unit, fully functional Operation Theater, Physiotherapy section, Advanced Pathology lab, X-ray unit and quality medicines make the hospital a unique Ayurved Treatment center with all modern facilities.
</p>
<p style="font-size:25px; line-height:20px">
    We are well prepared to welcome our third academic batch in coming days. Over & above the norms of CCIM & Gujarat Ayurved University, the KAMC team is committed for shaping & polishing of our students nurturing them into the shining diamonds to offer the best medical services to the society, using the ancient treasure of Ayurved with modern scientific outlook.
</p>




<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">BAMS</p>

<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Physiotherapy & Rehabilitation (KSPR)</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna School of Physiotherapy & Rehabilitation (KSPR)
</h2>
        <p style="font-size: 30px">
            Prof. (Dr.) Paras Bhura
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna School of Physiotherapy & Rehabilitation
             [KSPR]

            
        </div>
        <img src="{% static 'img/kspr.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    Welcome to the Krishna School of Physiotherapy Rehabilitation (KSPR), KPGU-Vadodara, where we are dedicated to fostering multifaceted excellence in education, research, and community outreach. Our mission is to create a learning environment that not only develops skilled and compassionate physiotherapists but also drives innovation and leadership in the field of healthcare.
</p>

<p style="font-size:25px; line-height:20px">
    At KPGU, we believe in a holistic approach to education. Our curriculum is designed to blend academic rigor with hands-on clinical experience, empowering our students to excel in both practice and research. With a strong emphasis on evidence-based practice and cutting-edge research, we are shaping the future of physiotherapy to meet the ever-evolving demands of healthcare systems worldwide.
</p>
<p style="font-size:25px; line-height:20px">
    Our commitment to outreach and community engagement is integral to our identity. Through partnerships, collaborations, and service-based learning, we ensure our students understand the real-world impact of their knowledge, making a positive difference in the lives of individuals and communities. Our faculty, distinguished for their expertise and dedication, are passionate about guiding students toward academic and professional success.
</p>
<p style="font-size:25px; line-height:20px">
    As a forward-thinking institution, we continuously strive to push the boundaries of healthcare education and research. I invite you to explore the unique opportunities we offer at KPGU and become part of a community that is not only shaping the future of physiotherapy but also contributing to a healthier, more equitable world.
</p>


<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">B.P.T</p>


</body>
</html>
