<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <title>Welcome to Faculty of Engineering & Technology</title>
    <style>
        body {
            margin: ;
        }
        .section{
            background-color: lightblue;
            display: flex;
            justify-content: center;
            padding: 40px;
            width: 60%;
            margin: 10rem auto 0 auto;
        }
        .section img{
            height: 250px;
        }
       
        
        .section p{
            color:rgb(11, 10, 10);
            margin-right: 15px;
        }
        
    </style>
</head>
<body >
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <h1 style="text-align: center; color: black;">Welcome to Faculty of Nursing</h1>
   
<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Nursing [KSN]</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna School of Nursing [KSN]
</h2>
        <p style="font-size: 30px">
            Prof. Nimesh Chokshi
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna School of Nursing
             [KSN]

            
        </div>
        <img src="{% static 'img/ksn.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
   Krishna School of Nursing, abbreviated as KSN is a part of KPGU university, providing education and training to become a fully qualified nurse. KPGU University, Vadodara is an autonomous degree-awarding body responsible for the standard of the awards and qualifications granted in its name; and the quality of the courses that lead to those awards and qualifications. To meet the standard of university, KSN strictly follows the rule of Indian Nursing Council, which is a national statutory body with powers to regulate and maintain uniform standards of nursing education all over the nation.
</p>

<p style="font-size:25px; line-height:20px">
    Presently KSN runs B.Sc. Nursing and GNM Nursing program, which prepares a student to become a registered nurse qualified to practice in a variety of settings in either public/ government or private healthcare settings.
</p>
<p style="font-size:25px; line-height:20px">
    In KSN, Students are provided with opportunities to learn a whole range of nursing skills in addition to acquiring knowledge related to nursing practice. This is achieved through learning in skill lab/simulated labs and clinical environment. Simulation is integrated throughout the curriculum wherever feasible to enable them to develop competencies before entry into the real field of nursing practice.
</p>
<p style="font-size:25px; line-height:20px">
    The curriculum embraces competency-based approach throughout the program integrating mastery learning and self-directed learning. Through the educational process the students assimilate and synthesize knowledge, cultivate critical thinking skills and develop care strategies. Competencies that reflect practice standards of Indian Nursing Council (INC) address the areas of cultural diversity, communication technology, teamwork and collaboration, safety, quality, therapeutic interventions and evidence- based practice. They are prepared to provide safe and competent care to patients across life span and influence patient outcomes.
</p>
<p style="font-size:25px; line-height:20px">
    KSN prepares nurses for generalist nursing practice. and assures knowledge acquisition related to wellness, health promotion, illness, disease management and care of the dying is core to nursing practice. Mastery of competencies is the main focus.
</p>



<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">Department of GNM</p>


</body>
</html>
