<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <title>Welcome to Faculty of Engineering & Technology</title>
    <style>
        body {
            margin: ;
        }
        .section{
            background-color: lightblue;
            display: flex;
            justify-content: center;
            padding: 40px;
            width: 60%;
            margin: 10rem auto 0 auto;
        }
        .section img{
            height: 250px;
        }
       
        
        .section p{
            color:rgb(11, 10, 10);
            margin-right: 15px;
        }
        
    </style>
</head>
<body >
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <h1 style="text-align: center; color: black;">Welcome to Faculty of Science</h1>
   
<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Science [KSS]</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna School of Science [KSS]
</h2>
        <p style="font-size: 30px">
            Prof. A.B. Chaudhari
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna School of Science
             [KSS]

            
        </div>
        <img src="{% static 'img/kss.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    At Krishna School of Science (KSS), we take immense pride in being a center of excellence in scientific education and research, perfectly aligned with the vision of KPGU to serve the greater good through continual progress and innovation. 
    Our mission is to nurture and empower young minds to become the scientists, innovators, and global leaders of tomorrow. We believe that fostering a passion for discovery, critical thinking, and problem-solving is essential to preparing our students for successful careers in an ever-evolving world.
</p>

<p style="font-size:25px; line-height:20px">
    At KSS, we provide a stimulating learning environment where students engage in cutting-edge experiments, explore new scientific theories, and collaborate with their peers. 
    Our state-of-the-art laboratories and research facilities offer hands-on experiences, enabling students to work alongside distinguished faculty members who are leaders in their fields. 
    We are committed to instilling a scientific attitude through a comprehensive, student-centric curriculum that covers a wide range of disciplines, including Physics, Chemistry, Mathematics, Microbiology, and Biotechnology, ensuring a holistic approach to scientific learning.
</p>
<p style="font-size:25px; line-height:20px">
    Beyond the classroom, we actively encourage our students to participate in research projects, attend seminars, and engage in workshops conducted by renowned scientists and industry experts. 
    This supports the mission of KPGU to provide a collaborative environment for the exchange of ideas and to nurture innovative and socially responsible global citizens. 
    We also prioritize the holistic development of our students by offering extracurricular activities, competitions, and events that foster leadership, teamwork, and personal growth.
</p>
<p style="font-size:25px; line-height:20px">
    Through initiatives such as Science Day celebrations, field trips, and industrial visits, our students gain exposure to real-world applications of science, expanding their horizons and preparing them for future challenges. 
    Additionally, we place great emphasis on the well-being and personal development of each student. 
    Our dedicated counseling team ensures that students are provided with a nurturing and inclusive environment where they can thrive, in line with KPGU's aim to cultivate good human beings with compassion, empathy, and scientific temper.
</p>
<p style="font-size:25px; line-height:20px">
    I would like to express my deepest appreciation to our exceptional faculty members and staff, whose unwavering dedication and expertise are the pillars of Krishna School of Science. 
    Together, we strive to create a positive, inspiring atmosphere that reflects the KPGU Vision-2040 and prepares our students to excel in their academic journeys.
</p>
<p style="font-size:25px; line-height:20px">
    Lastly, I extend my heartfelt gratitude to the parents and guardians who have entrusted us with their children's education and future. 
    We value your trust and are committed to providing the highest standards of education and support to ensure your child’s success.
</p>
<p style="font-size:25px; line-height:20px">
    As we look ahead to an exciting academic year, filled with scientific achievements, let us continue pushing the boundaries of knowledge, empowering the next generation of scientific leaders, and contributing to the greater mission of KPGU in service to society and global excellence.
</p>
<p style="font-size:25px; line-height:20px">
    With best wishes 
</p>


<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Biotechnology</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Chemistry</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Mathematics</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Microbiology</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Physics</p>



</body>
</html>
