<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <title>Welcome to Faculty of Engineering & Technology</title>
    <style>
        body {
            margin: ;
        }
        .section{
            background-color: lightblue;
            display: flex;
            justify-content: center;
            padding: 40px;
            width: 60%;
            margin: 10rem auto 0 auto;
        }
        .section img{
            height: 250px;
        }
       
        
        .section p{
            color:rgb(11, 10, 10);
            margin-right: 15px;
        }
        
    </style>
</head>
<body >
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <h1 style="text-align: center; color: black;">Welcome to Faculty of Engineering & Technology</h1>
   
<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Emerging Technology & Applied Research (KSET)</h4>
<div class="section">
    <div class="text">
        <h2 style="color: blue">
    Krishna School of Emerging Technology & Applied Research (KSET)
</h2>
        <p style="font-size: 30px">
            Dr. Nandini M. Chaudhari
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
             Krishna School of Emerging Technology & Applied Research
            [KSET]
            
        </div>
        <img src="{% static 'img/kset.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    Dear Students, Faculty, and Esteemed Colleagues,
</p>

<p style="font-size:25px; line-height:20px">
    Welcome to Krishna School of Emerging Technology and Applied Research (KSET), a constituent institute of Drs. Kiran and Pallavi Patel Global University, Vadodara, Gujarat, INDIA, where the pursuit of knowledge and the passion for innovation converge to shape the future. 
    As the Director of this esteemed institution, it is both an honor and a privilege to extend a warm greeting to all members of our vibrant academic community.
</p>
<p style="font-size:25px; line-height:20px">
    Our institute stands at the forefront of engineering education, driven by a commitment to excellence and a dedication to nurturing the next generation of leaders and innovators.
    We believe that engineering is not merely a field of study, but a gateway to transforming ideas into reality and solving the complex challenges of our world.
</p>
<p style="font-size:25px; line-height:20px">
    At KSET, we offer more than just a curriculum; we provide an environment that fosters creativity, critical thinking, and collaboration. 
    Our world-class faculty, state-of-the-art facilities, and robust industry connections ensure that our students receive a comprehensive education that prepares them for the dynamic demands of the engineering profession.
</p>
<p style="font-size:25px; line-height:20px">
    We emphasize a holistic approach to learning, combining rigorous academic instruction with hands- on experience and real-world applications. 
    Our strong industry ties and research initiatives provide our students with unparalleled opportunities to engage in ground breaking projects and make meaningful contributions to their fields of interest. Our institute’s values are grounded in integrity, innovation, and excellence, and we strive to uphold these principles in all that we do.
</p>
<p style="font-size:25px; line-height:20px">
    As we move forward, our focus remains on continuously evolving our programs and resources to stay ahead of emerging trends and technologies. 
    We are excited about the future and the endless possibilities that lie ahead for our students, faculty, and the engineering profession as a whole.
</p>
<p style="font-size:25px; line-height:20px">
    Thank you for being a part of the KSET family. Together, let us embark on this journey of discovery, learning, and growth, and make a positive impact on the world.
</p>
<p style="font-size:25px; line-height:20px">
    With best regards, 
</p>
<p style="font-size:25px; line-height:20px">
    Director
</p>

<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Computer Science & Engineering</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Information Technology</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Mechanical Engineering</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Civil Engineering</p>


<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Diploma Studies [KSDS]</h4>
<div class="section">
    <div class="text">
        <h5 style="color: blue; font-size: 25px">
    Krishna School of Diploma Studies [KSDS]
</h5>
        <p style="font-size: 30px">
            Dr. Dattesh Y. Joshi
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
                Krishna School of Diploma Studies
                [KSDS]
            
        </div>
        <img src="{% static 'img/ksds.jpg' %}" >
    </p>
    </p>
    </p>
</div>
<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>
<p style="font-size:25px; line-height:20px">
    Welcome to the esteemed Krishna School of Diploma Studies (KSDS) at Drs. Kiran & Pallavi Patel Global University (KPGU), Vadodara. 
    As the Director, I am honoured to lead our dedicated team in fostering academic excellence and innovation.
</p>

<p style="font-size:25px; line-height:20px">
    Our holistic approach to learning imparts technical knowledge alongside critical thinking and problem-solving skills. 
    Our experienced faculty ensures students are well-equipped for the dynamic engineering landscape.
</p>
<p style="font-size:25px; line-height:20px">
    Through cutting-edge curricula, labs, and industry collaborations, we offer a transformative educational experience that prepares students for leadership roles.
</p>
<p style="font-size:25px; line-height:20px">
  Committed to values of integrity and inclusivity, we provide a diverse and respectful environment. Our website showcases programs, faculty, research, and campus life.
</p>
<p style="font-size:25px; line-height:20px">
   Whether you’re a student, parent, industry partner, or academician, we look forward to your engagement with us.
</p>
<p style="font-size:25px; line-height:20px">
   Thank you for considering Krishna School of Diploma Studies (KSDS), Drs. Kiran & Pallavi Patel Global University (KPGU), Vadodara as your educational destination. Join us on a journey of knowledge and excellence.
</p>

<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Computer Science & Engineering</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Information Technology</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Mechanical Engineering</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Civil Engineering</p> 
<p style="font-size:25px; line-height:20px; color:#800000">Department of Chemical Engineering</p>


<h4 style="font-size:35px;color: darkblue">Welcome To Krishna School of Technology (KST)</h4>
<div class="section">
    <div class="text">
        <h5 style="color: blue; font-size: 25px">
    Krishna School of Technology (KST)
</h5>
        <p style="font-size: 30px">
            Dr. Nitesh Sureja
           <p style="font-size: 20px">
             Director
            <p style="font-size: 20px">
                Krishna School of Technology
                [KST]
            
        </div>
        <img src="{% static 'img/kst.jpg' %}" >
    </p>
    </p>
    </p>
</div>

<h3 style="font-size:35px;color: darkblue"><center>Message from Director</h3>

<p style="font-size:25px; line-height:20px">
  Welcome to Krishna School of Technology (KST), a constituent institute of Drs. Kiran and Pallavi Patel Global University, Vadodara, Gujarat, INDIA, where the pursuit of knowledge and the passion for innovation converge to shape the future. As the Director of this esteemed institution, it is both an honor and a privilege to extend a warm greeting to all members of our vibrant academic community.Welcome to Krishna School of Technology (KST), a constituent institute of Drs. Kiran and Pallavi Patel Global University, Vadodara, Gujarat, INDIA, where the pursuit of knowledge and the passion for innovation converge to shape the future. As the Director of this esteemed institution, it is both an honor and a privilege to extend a warm greeting to all members of our vibrant academic community.
</p>
<p style="font-size:25px; line-height:20px">
    Our institute stands at the forefront of engineering education, driven by a commitment to excellence and a dedication to nurturing the next generation of leaders and innovators. We believe that engineering is not merely a field of study, but a gateway to transforming ideas into reality and solving the complex challenges of our world.
</p>
<p style="font-size:25px; line-height:20px">
  At KST, we offer more than just a curriculum; we provide an environment that fosters creativity, critical thinking, and collaboration. Our world-class faculty, state-of-the-art facilities, and robust industry connections ensure that our students receive a comprehensive education that prepares them for the dynamic demands of the engineering profession.
</p>
<p style="font-size:25px; line-height:20px">
   We emphasize a holistic approach to learning, combining rigorous academic instruction with hands- on experience and real-world applications. Our strong industry ties and research initiatives provide our students with unparalleled opportunities to engage in ground breaking projects and make meaningful contributions to their fields of interest. Our institute’s values are grounded in integrity, innovation, and excellence, and we strive to uphold these principles in all that we do.
</p>
<p style="font-size:25px; line-height:20px">
  As we move forward, our focus remains on continuously evolving our programs and resources to stay ahead of emerging trends and technologies. We are excited about the future and the endless possibilities that lie ahead for our students, faculty, and the engineering profession as a whole.
</p>
<p style="font-size:25px; line-height:20px">
    Thank you for being a part of the KST family. Together, let us embark on this journey of discovery, learning, and growth, and make a positive impact on the world.
</p>
<p style="font-size:25px; line-height:20px">
    With best regards,Director
</p>

<h4 style="font-size:35px;color: darkblue">Department</h4>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Computer Engineering</p>
<p style="font-size:25px; line-height:20px; color:#800000">Department of Electrical Engineering</p>


</body>
</html>
